<div class="top-row px-4">
    <MatTooltip Tooltip="Github">
        <MatIconButton Link="https://github.com/ndavisjr" RefBack="@context" Class="toprowbtn" Target="_blank">
            <i class="fab fa-github toprowicon"></i>
        </MatIconButton>
    </MatTooltip>


    <MatTooltip Tooltip="Twitter">
        <MatIconButton Link="https://twitter.com" RefBack="@context" Class="toprowbtn" Target="_blank">
            <i class="fab fa-twitter toprowicon"></i>
        </MatIconButton>
    </MatTooltip>

    <MatTooltip Tooltip="YouTube">
        <MatIconButton Link="https://youtube.com" RefBack="@context" Class="toprowbtn" Target="_blank">
            <i class="fab fa-youtube toprowicon"></i>
        </MatIconButton>
    </MatTooltip>

    <MatTooltip Tooltip="Facebook">
        <MatIconButton Link="https://facebook.com" RefBack="@context" Class="toprowbtn" Target="_blank">
            <i class="fab fa-facebook toprowicon"></i>
        </MatIconButton>
    </MatTooltip>
</div>